{
  extends: [
    "airbnb/base",
    "plugin:jest/recommended"
  ],
  plugins: ["jest"],
  rules: {
    "prefer-destructuring": 0,
    "class-methods-use-this": 0,
    "function-paren-newline": 0
  }
}
