CARD_CREATOR_BASE_URL=http://qa.patrons.librarysimplified.org/v2/
CARD_CREATOR_USERNAME=
CARD_CREATOR_PASSWORD=

PATRON_STREAM_NAME=Patron-qa

SCHEMA_API_BASE_URL=https://api.nypltech.org/api/v0.1/current-schemas