name: Deploy QA

on:
  push:
    branches: [qa, "swis-29/update-aws-sdkv3"]

jobs:
  deploy-qa:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::946183545209:role/GithubActionsDeployerRole
          aws-region: us-east-1
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - name: npm install
        run: npm ci
      - name: Deploy app to QA
        run: |
          terraform -chdir=provisioning/qa init -input=false
          terraform -chdir=provisioning/qa apply -auto-approve -input=false
